* {
	margin:0;
	padding:0;
}

@font-face {
	font-family: "Times New Roman";
}

html, body {
	height:100%;
}

body {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity: .9;
	margin: 0px auto;
	background-size: 100%;
	background-color: #ffb100;
	background-repeat: no-repeat;
	padding-left: 0px !important;
	padding-right: 0px !important;
	background: url('delicious_pizza-wallpaper-1280x960.jpg') no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	[5/1/13 9:29:03 PM] Renan: -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-all {
	min-height: 100%;
	padding: 1%;
}

.navbar .brand {
	text-align: center !important;
	float: none !important;
	font-family: "Times New Roman" !important;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 10px;
	color: #ffb100;
	margin-left: 0px !important;
}

.pizzeria {
	font-size: 18px;
	color: #f8f8f8;
	letter-spacing: 15px;
	padding-top: 10px;
	margin-left: 10px;
	border-top: 1px solid #f8f8f8;
}

.pizza {
	width: 300px;
	float: none;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.rail {
	cursor: pointer;
	background-color: #808080;
	border-radius: 150px;
	box-shadow: -3px -3px 10px 2px rgba(0, 0, 0, .3) inset, 0 0 0 15px rgba(255, 255, 255, .6) inset, 0 0 0 1px rgba(0, 0, 0, .5), 2px 2px 10px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, .6) inset, 0 0 0 1px rgba(0, 0, 0, .5), 2px 2px 10px rgba(0, 0, 0, .6);
}

.broiler {
	width: 300px;
	height: 300px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	text-align: center;
}

.pizzeria-delivery {
	position: relative;
	top: 88px;
	text-align: center;
	color: #fff;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.pizzeria-phone {
	position: relative;
	top: 105px;
	left: 3px;
	font-size: 54px;
	color: #FFB100 !important;
	font-weight: bold;
}

.jumbotron {
	margin: 5% 0 0 0;
}

.content {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.accordion {
	padding: 1%;
	opacity: 1;
	display: inline-block;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin-bottom: 0;
}

.accordion-menu {
	min-height: 100px;
	max-height: 100%;
}

.accordion-inner {
	color:#333 !important;
}

.accordion-body-title {
	width: 100%;
	margin:0px auto;
	padding: 0%;
	display: inline-block;
}

.span4 {
	margin-left: 0px;
}

.footer {
	background-color:#000;
	padding-top: 1%;
	width:100%;
	min-height: 100px;
	height: 15%;
	border-top:1px solid #666;
}